
<div class="col-xs top_logo text-center">
  <%= image_tag "Logo.png", width: "80%"%>
</div>
<div class="col-xs-6 text-center enter_button">
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
</div>
<div class="col-xs-6 text-center enter_button">
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning" %>
</div>

<div class="col-xs-12 text-right">
  <%= link_to "逢言葉とは？", about_path %><br>
  <%= link_to "テストユーザーの方へ（必ずご一読ください）", check_path %><br>
  <%= link_to "不具合のご報告・お問い合わせはこちら", 'https://goo.gl/forms/hFZImIVahT6oljvD2', target: 'blank' %><br>
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-lang="ja">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <a href="http://line.me/R/msg/text/?https://aikotoba.herokuapp.com/">
    <%= image_tag 'share_line.png', size: '25x25', alt: "LINEで送る" %>
  </a>
</div>
