<div class="col-xs-12 home_watage">
  <%= image_tag "watage01.png"%>
</div>
<div class="clear-fix"></div>
<div class="center-block button">
  <div class="col-xs-6 tobasu">
    <a href="<%= send_words_new_path %>">
      <%= image_tag "tanpopo.png", size: "100x100"%>
      <p>とばす</p>
    </a>
  </div>
  <div class="col-xs-6 deau">
    <a href="<%= receive_words_show_path %>">
      <%= image_tag "tanpopo.png", size: "100x100" %>
      <p>であう</p>
    </a>
  </div>
</div>
