<div class="col-xs-12 text-right">
  <%= link_to "アンケートにご協力お願いします", 'https://goo.gl/forms/mivj1vDtfYnfa8q43', target: 'blank', class: "switch" %>
  <%= link_to image_tag('logout_2.png', size: '40x40'), destroy_user_session_path, method: :delete %>
</div>

<div class="col-xs-12 home_watage">
  <%= image_tag "watage01.png", size: "280x280"%>
</div>
<!-- <div class="clear-fix"></div> -->

<div class="col-xs-12 button">
  <div class="col-xs-6 tobasu">
      <a href="<%= messages_new_path %>">
        <%= image_tag "tobasu.png", size: "80x80"%>
      </a>
  </div>
  <div class="col-xs-6 deau">
      <a href="<%= messages_show_path %>">
        <%= image_tag "deau.png", size: "80x80" %>
      </a>
  </div>
  <div class="col-xs-6 okini">
      <a href="<%= show_favorite_path %>">
        <%= image_tag "okini.png", size: "80x80" %>
      </a>
  </div>
  <div class="col-xs-6 setting">
      <a href="<%= edit_user_registration_path %>">
        <%= image_tag "setting.png", size: "80x80" %>
      </a>
  </div>
</div>
