<div class="col-xs-12 text-right">
  <%= link_to image_tag('logout_2.png', size: '50x50'), destroy_user_session_path%>
</div>


<div class="col-xs-12 home_watage">
  <%= image_tag "watage01.png"%>
</div>
<div class="clear-fix"></div>

<div class="col-xs-6 button">
  <div class="tobasu">
    <a href="<%= messages_new_path %>">
      <%= image_tag "tobasu.png", size: "100x100"%>
    </a>
  </div>
</div>
<div class="col-xs-6 button">
  <div class="deau">
    <a href="<%= messages_show_path %>">
      <%= image_tag "deau.png", size: "100x100" %>
    </a>
  </div>
</div>
<div class="col-xs-6 button">
  <div class="okini">
    <a href="<%= show_favorite_path %>">
      <%= image_tag "okini.png", size: "100x100" %>
    </a>
  </div>
</div>
<div class="col-xs-6 button">
  <div class="setting">
    <a href="<%= edit_user_registration_path %>">
      <%= image_tag "setting.png", size: "100x100" %>
    </a>
  </div>
</div>
